# Test Kaggle Submission Notebook
In this notebook we simply attempt to:
* Read in the input file
* Make a dummy prediction for every discourse_id
* Write it out into a test submission file

## Read in the input file

In [1]:
import pandas as pd

input_df = pd.read_csv("../input/feedback-prize-effectiveness/test.csv")
input_df.head()

,discourse_id,essay_id,discourse_text,discourse_type
0,a261b6e14276,D72CB1C11673,Making choices in life can be very difficult. ...,Lead
1,5a88900e7dc1,D72CB1C11673,Seeking multiple opinions can help a person ma...,Position
2,9790d835736b,D72CB1C11673,it can decrease stress levels,Claim
3,75ce6d68b67b,D72CB1C11673,a great chance to learn something new,Claim
4,93578d946723,D72CB1C11673,can be very helpful and beneficial.,Claim

## Make a dummy prediction

In [2]:
output_df = input_df.drop(axis = 1, labels = ['essay_id', 'discourse_text', 'discourse_type'])
output_df['Ineffective'] = [0.33] * output_df.shape[0]
output_df['Adequate'] = [0.33] * output_df.shape[0]
output_df['Effective'] = [0.34] * output_df.shape[0]
output_df.head()

   discourse_id  Ineffective  Adequate  Effective
0  a261b6e14276         0.33      0.33       0.34
1  5a88900e7dc1         0.33      0.33       0.34
2  9790d835736b         0.33      0.33       0.34
3  75ce6d68b67b         0.33      0.33       0.34
4  93578d946723         0.33      0.33       0.34

## Output

In [3]:
# Make sure output directory exists
import os
path = 'data/output/'
os.makedirs(path, exist_ok=True)

# Write out the output_df into a sample output file.
output_df.to_csv("data/output/submission_test.csv", index=False)